# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
ENV/

# Sensitive data
.env

# VS Code settings
.vscode/

# Database files (if using local sqlite)
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

.git/
Scripts/
pyvenv.cfg
__pycache__/
*.pyc
